@media (max-width: 1200px)
  .container,
  .header-wrapper,
  .training-wrapper,
  .advantage-wrapper
    max-width: 960px
  .main
    &::after
      display: none
  .training
    &::before
      display: none
  .banner
    &::before
      content: ''
      position: absolute
      top: 202px
      left: 60px
      width: 155px
      height: 130px
      background-image: url(../img/rainbow.svg)
      background-repeat: no-repeat
    &::after
      content: ''
      position: absolute
      top: 194px
      right: 85px
      width: 118px
      height: 133px
      background-image: url(../img/boy.svg)
      background-repeat: no-repeat
  .teacher
    &::before,
    &::after
      display: none
@media (max-width: 992px)
  .container,
  .header-wrapper,
  .training-wrapper,
  .advantage-wrapper
    max-width: 700px
  body
    padding-top: 85px
  .burger
    display: flex !important
  .header
    &_mobile
      &_fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99
        background-color: #fff
    &-wrapper
      padding: 30px 0
      position: relative
    &__logo
      margin-right: auto
    &-menu
      display: none
      position: fixed
      flex-direction: column
      justify-content: flex-start
      align-items: flex-start
      width: 100%
      top: 0
      left: 0
      right: 0
      bottom: 0
      margin: 0
      padding-top: 85px
      &__item
        max-width: 700px
        margin: auto
        margin-bottom: 20px
      &__link
        font-size: 22px
    &__contacts
      &_mobile
        display: flex
        margin: auto
        max-width: 700px
  .main
    &::before
      content: ''
      position: absolute
      top: 37px
      left: 64px
      width: 58px
      height: 46px
      background-image: url(../img/car-min.svg)
      background-repeat: no-repeat
  .training
    &::after
      content: ''
      position: absolute
      top: 120px
      right: 46px
      width: 101px
      height: 50px
      background-image: url(../img/rocket-min.svg)
      background-repeat: no-repeat
    &__block
      max-width: 290px
      &__right
        max-width: 354px
    &__subtitle
      max-width: 198px
      font-size: 18px
      &__mb
        font-size: 18px
    &__description
      font-size: 14px
    &__video
      width: 354px
      height: 270px
      &__img
        height: 100%
  .advantage
    &__left
      padding: 90px 0 0 0
      &::before
        content: ''
        position: absolute
        top: 232px
        left: 165px
        width: 140px
        height: 126px
        background-image: url(../img/2s.svg)
        background-repeat: no-repeat
    &__right
      height: 290px
      &::after
        content: ''
        position: absolute
        top: 287px
        right: 195px
        width: 109px
        height: 37px
        background-image: url(../img/4s.svg)
        background-repeat: no-repeat
    &__block
      max-width: 250px
    &-img
      width: 225px
      height: 257px
    &__subtitle
      font-size: 18px
      min-width: 215px
    &__description
      font-size: 14px
      max-width: 215px
      &-w300
        font-size: 14px
    &__image
      &::before
        content: ''
        position: absolute
        top: -35px
        left: -68px
        width: 140px
        height: 46px
        background-image: url(../img/1s.svg)
        background-repeat: no-repeat
      &::after
        content: ''
        position: absolute
        top: 85px
        right: -60px
        width: 64px
        height: 58px
        background-image: url(../img/3s.svg)
        background-repeat: no-repeat
  .group
    padding: 110px 0
    &::before
      content: ''
      position: absolute
      top: 60px
      left: 100px
      width: 40px
      height: 40px
      background-image: url(../img/star-m.svg)
      background-repeat: no-repeat
    &__text
      font-size: 14px
      width: 261px
    &-wrapper
    &__card
      padding: 45px 30px
    &__description
      margin-bottom: 15px
    &__button
      padding: 16px 28px !important
  .swiper
    &-slide
      display: flex
      flex-wrap: wrap
      &__profile
        min-width: 335px
        margin-bottom: 30px
      &__avatar
        min-width: 335px
  .teacher
    &::before
      display: none
    &::after
      display: none
  .banner
    &::before
      content: ''
      position: absolute
      top: 202px
      left: 35px
      width: 155px
      height: 130px
      background-image: url(../img/rainbow.svg)
      background-repeat: no-repeat
    &::after
      content: ''
      position: absolute
      top: 194px
      right: 85px
      width: 118px
      height: 133px
      background-image: url(../img/boy.svg)
      background-repeat: no-repeat

@media (max-width: 768px)
  .container,
  .header-wrapper,
  .training-wrapper,
  .advantage-wrapper,
  .advantages-mobile,
  .groups-row
    max-width: 567px
    width: 92%
  .header
    &-menu
      &__item
        max-width: 567px
        margin: auto
        margin-bottom: 22px
    &__contacts
      &_mobile
        display: flex
        margin: auto
        max-width: 567px

  .logo
    width: 132px
    height: 23px
  .main
    background-image: url(../img/main-photo.jpg)
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    position: relative
    &::before
      top: 15px
    &-offer
      padding: 60px 0
  .swiper
    &-slide
      &__profile
        min-width: 250px
      &__avatar
        min-width: 250px
  .training
    padding: 60px 0
    &-wrapper
      display: flex
      flex-direction: column
    &__block
      max-width: 100%
      margin-bottom: 35px
      &__right
        max-width: 100%
    &__video
      min-width: 100%
      height: 262px
      &__img
  .advantage
    margin-bottom: 60px
    &-wrapper
      display: flex
      align-items: center
      justify-content: space-between
      flex-direction: column
      margin: auto
    &__left
      width: 100%
      display: flex
      justify-content: space-between
      flex-direction: row
      height: 0%

      &::before
        display: none
    &__right
      width: 100%
      display: flex
      justify-content: space-between
      flex-direction: row
      height: 0%
      margin-top: 30px
      &::after
        display: none
    &__block
      min-width: 255px
      margin-bottom: 30px
    &__subtitle
      font-style: normal
      font-weight: 500
      font-size: 16px
      line-height: 140%
    &__description
      font-style: normal
      font-weight: 400
      font-size: 14px
      line-height: 145%
    &__image
      margin: auto
      &::before
        display: none
      &::after
        display: none
    &-img
      width: 300px
      height: 350px
  .group
    &-wrapper
      flex-wrap: wrap
    &__card
      width: 100%
      margin-bottom: 30px
      &:last-child
        margin: 0
      &:hover
        display: none

  .teacher
    &-top
      flex-direction: column
      align-items: start
      margin-bottom: 50px
    &__title
      margin-bottom: 30px
  .banner
    &::before,
    &::after
      display: none
    &__text
      font-size: 14px
      max-width: 320px
  .address
    display: flex
    flex-direction: column-reverse
    background-color: #F7FAFC
    border-radius: 12px 12px 0 0
    box-shadow: 0px 4px 40px rgba(217, 217, 217, 0.3)

    &-wrapper
      position: static
      box-shadow: none
      padding: 80px 0
      min-width: 100%
    &-contacts
      flex-direction: row
      flex-wrap: wrap
      justify-content: space-between
      margin: 0
      &__item
        max-width: 273px
        &__email
          width: 210px
        &__mob
          width: 100%
    .map
      height: 450px
    iframe
      height: 450px
  .footer
    &-wrapper
      flex-wrap: wrap
    &-content
      width: 100%
      margin-bottom: 20px

@media (max-width: 567px)
  .container,
  .header-wrapper,
  .training-wrapper,
  .advantage-wrapper,
  .advantages-mobile
    max-width: 92%
  .logo
    width: 111px
    height: 21px
  .training
    &__block
      width: 100%
  .header
    &__contacts
      &_mobile
        &_hidden
          display: none
    &-menu
      &__item
        max-width: 92%
        margin: auto
        margin-bottom: 22px
      &__link
        font-size: 18px
    &__contacts
      &_mobile
        margin: auto
        max-width: 92%
  .burger
    height: 12px
  .main
    &::before
      top: 10px
      left: 20px
      background-image: url(../img/car-mobile.svg)
      width: 48px
      height: 38px
    &__title
      font-size: 28px
      margin-bottom: 15px
    &__subtitle
      font-size: 16px
      margin-bottom: 20px
    &__text
      font-size: 14px
      margin-bottom: 30px
    &__button
      padding: 16px 28px
  .training
    &::after
      top: 21px
      right: 50px
      background-image: url(../img/rocket-mobile.svg)
      width: 67px
      height: 34px
    &-wrapper
      padding: 0
    &__title
      font-size: 22px
      margin-bottom: 40px
    &__subtitle
      font-size: 16px
      &__mb
        font-size: 16px
        max-width: 230px
    &__video
      max-width: 290px
      &__img
        max-height: 100%
  .advantage
    &__block
    &__left
      padding: 0
      flex-direction: column
      order: -1
    &__right
      flex-direction: column
      order: -1
      padding: 0
      margin-top: 0
    &-img
      width: 184px
      height: 210px

  .group
    background-image: none
    background-color: #F7FAFC
    padding: 60px 0
    margin-bottom: 60px
    &::before
      top: 10px
      left: 13px
    &-top
      flex-direction: column
      margin-bottom: 40px
    &__title
      font-size: 22px
      margin-bottom: 30px
  .teacher
    padding: 0
    margin-bottom: 60px
    &__title
      font-size: 22px
      margin-bottom: 30px
    &__
    &__text
      font-size: 14px
      max-width: 267px
  .swiper
    &-slide
      margin-bottom: 0
      &__profile
        min-width: 100%
        height: 100%
        overflow: hidden
        &:last-child
          margin-bottom: 0
      &__avatar
        min-width: 100%
        height: 100%
        border-radius: 12px
      &__name
        font-size: 18px
        margin-bottom: 10px
      &__country
        font-size: 14px
  .banner
    margin-bottom: 60px
    &-wrapper
      padding: 70px 0
    &__title
      font-size: 22px
      max-width: 380px
      margin-bottom: 30px
    &__text
      margin-bottom: 30px
    &__button
      padding: 15px 28px
  .address
    &-contacts
      flex-direction: column
    &__title
      font-size: 22px
    &__text
      font-size: 14px
    &__description
      font-size: 16px
    .map
      height: 260px
    iframe
      height: 260px
  .footer
    &-wrapper
      font-size: 12px
      padding: 40px 0

@media (max-width: 480px)
  .header
    &__contacts
      display: none
      &_mobile
        display: flex
