*
	box-sizing: border-box
body
	font-family: 'Montserrat', sans-serif
	color: $text-color
	.training-wrapper,
	.advantage-wrapper
		max-width: 931px
		margin: auto
	.container
		width: 970px
		margin: auto
	.button
		border-radius: 35px
		color: $text-color
		padding: 20px 35px
		font-style: normal
		font-weight: 500
		font-size: 16px
		line-height: 140%
		border: none
		max-width: 166px
	
h1,h2
	font-family: 'Rubik'
	margin: 0
h3
	margin: 0
p
	margin: 0
